*,*::after,*::before{
    
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
}

:root {
    font-size: 15px;

}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 400px;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px rgb(138, 136, 136);
    padding: 2rem 4rem;
}

form label,span {
    font-size: 1.6rem;
}

form sup {
    color: crimson;
    font-size: 1.8rem;
}

.form-head h2 {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.2rem;

}

.form-body {
    margin-bottom: 2rem;

}

.form-body input {
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
}

.form-body p {
    height: 20px;
    background-color: blue;
}

.form-foot {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
    /* justify-content: space-between; */
}

.form-foot button {
    width: 100%;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-weight: 500;
    background-color: #222;
    border-radius: 0.5rem;
    border: none;
    color: white;
    outline: none;
}


.form-body .form-body label:nth-last-of-type(3) div {
    position: relative;
}


form #togglePasswordBtn {
    position: absolute;
   
    top: 68%;
    transform: translateY(50%);
    cursor: pointer;
    color: #222;
    z-index: 2;
    font-size: 15px;
    
    
}




.form-body .invalid {
    height: 20px;
    color: red;
    padding: 0px 0px 0px 5px;
    visibility : visible;
}

.form-body .valid{
    height: 20px;
    color: transparent;
    padding:0px 0px 0px 5px ;
    visibility: hidden;
}

